<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost\DESKTOP-5CIOQN0\SQLEXPRESS:1433;databaseName=ScrapingProducts</property>
    <property name="hibernate.connection.username">admin</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="hibernate.jdbc.batch_size">20</property>
    <mapping resource="pf/api/model/SourceProduct.hbm.xml"/>
    <mapping resource="pf/api/model/Product.hbm.xml"/>
    <mapping resource="pf/api/model/Source.hbm.xml"/>
    
  </session-factory>
</hibernate-configuration>
